*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

#nav{
    padding:20px;
    display:flex;
    justify-content:space-between;
}

.logo{
    cursor:pointer;
}

.nav-list{
    width:33%;
    justify-content:space-between;
    display:flex;
    align-items:center;
    list-style:none;
}

.nav-list>li>a{
    text-decoration:none;
    color:#ffff;
    font-size:15px;
}

.button-book-table{
    width:170px;
    height:48px;
    color:#6F1C11;
    border:solid 2px #FEF5EB;
    border-radius:10px;
    background-color:#FEF5EB;
    cursor:pointer;
    display:block;
    display:flex;
    justify-content:center;
    align-items:center;
}

.menu-burger{
    display:none !important;
}

.section-grilled-steak{
    min-height:800px;
    background-image:url("Mask\ group\ \(1\).png");
    background-size:cover;
}

.grilled-steak-wallpaper-par{
    display:flex;
    justify-content:center;
    align-items:center;
}

.grilled-steak-wallpaper{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.steak{
    width:350px;
    min-height:550px;
    background-image:url("steak.png");
    background-size:cover;
    background-repeat:no-repeat;
    cursor:pointer;
}

.grilled-steak{
    width:400px;
    min-height:550px;
    background-image:url("grilled-steak.png");
    background-size:cover;
    background-repeat:no-repeat;
    cursor:pointer;
}

.cezr-salad{
    width:400px;
    min-height:500px;
    background-image:url("cezr-salad.png");
    background-size:cover;
    background-repeat:no-repeat;
    cursor:pointer;
}

.sectionone{
    padding:50px;
    background-color:#FFF6EC;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}

.sectionone-textwallpaper-par{
    width:90%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.sectionone-textwallpaperpar-two{
    width:90%;
    display:flex;
    justify-content:space-between;
}

.sectionone-textwallpaper-par-three{
    width:95%;
    display:flex;
    justify-content:space-between;
    padding:30px;
}

.section-one-text-par{
    width:45%;
}

.sectiononone-line-par{
    width:30%;
}

.sectionone-line{
    width:280px;
    height:2px;
    background-color:#6F1C11;
}

.paragraf-american-steakhouse{
    color:#6F1C11;
    font-size:40px;
    font-family: 'Roboto', sans-serif;
}

.sectionone-wallpaper-gtilledsteack{
    width:400px;
    min-height:493px;
    background-image:url("top-view-grilled-beef-steak-with-greens-sauce\ 1.png");
    background-size:cover;
    background-repeat:no-repeat;
    cursor:pointer;
}

.paragraf-grilled-beef-steak{
    color:#6F1C11;
    font-size:24px;
    font-family: 'Roboto', sans-serif;
}

.wallpaper-steakpretium{
    width:535px;
    height:300px;
    background-image:url("steakpretium.png");
    background-size:cover;
    background-repeat:no-repeat;
    cursor:pointer;
}

.sectionone-text-two-par{
    width:30%;
}

.paragraf-discover-menu{
    color:#6F1C11;
    font-size:50px;
    font-family: 'Roboto', sans-serif;
}

.sectionone-h3-text{
    color:#313131;
    font-size:24px;
    padding-top:30px;
    font-family: 'Roboto', sans-serif;
}

.sectionone-h3-pretium-text{
    color: #313131;
    font-size:24px;
    padding-top:30px;
    font-family: 'Roboto', sans-serif;
}

.explore-btn{
    width:170px;
    height:48px;
    border-radius:50px;
    border:solid 2px #C9ABA1;
    background-color:#FFF6EC;
    margin-top:30px;
    font-size:14px;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    list-style:none;
}

.explore-btn>a{
    color:#6F1C11;
    text-decoration:none;
}

.sectionone-text-three-par{
    width:30%;
    display:flex;
    justify-content:space-between;
}

.wine-glass{
    width:73px;
    height:73px;
    background-image:url("wine-glass.png");
    background-size:cover;
    background-repeat:no-repeat;
}

.h3-text-wine{
    color:#313131;
    font-size:24px;
    font-family: 'Roboto', sans-serif;
}

.wine{
    width:535px;
    height:300px;
    background-image:url("wine.png");
    background-size:cover;
    background-repeat:no-repeat;
    cursor:pointer;
}

.sectiontwo{
    width:100%;
    background-color:#FFF6EC;
}

.paragraf-book-a-table{
    font-size:50px;
    color:#6F1C11;
    text-align:center;
    padding-top:20px;
    font-family: 'Roboto', sans-serif;
}

.book-table-contact{
    padding:90px;
    margin:0 auto;
    margin-top:20px;
    display:flex;
    justify-content:space-between;
}

.contact{
    width:310px;
    height:73px;
    border:solid 1px;
    border-radius:20px;
    background-color:#6F1C11;
    padding:25px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    cursor:pointer;
}

.sectiontwo-h3text{
    color:#ffffff;
    font-size:24px;
    font-family: 'Roboto', sans-serif;
}

.down{
    color:#ffffff;
}

.sectiontwo-h3text-book-now{
    color:#ffffff;
    font-size:24px;
    margin:0 auto;
}

.latest-articles-par{
    width:80%;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    font-family: 'Roboto', sans-serif;
}

.sectiontwo-h2text-latest-articles{
    color:#6F1C11;
    font-size:50px;
}

.button-explore{
    width:170px;
    height:48px;
    border:solid 2px #C5A79E;
    border-radius:10px;
    cursor:pointer;
    background-color:#FEF5EB;
    color:#6F1C11;
    font-size:14px;
}

.sectiontwo-wallpaper-par{
    padding:80px;
    margin:0 auto;
    margin-top:20px;
    display:flex;
    justify-content:space-between;
}

.pouder{
    width:418px;
    min-height:286px;
    background-image:url("pouder.png");
    background-size:cover;
    background-repeat:no-repeat;
    cursor:pointer;
}

.lamp{
    width:418px;
    min-height:286px;
    background-image:url("lamp.png");
    background-size:cover;
    background-repeat:no-repeat;
    cursor:pointer;
}

.coffee{
    width:418px;
    min-height:286px;
    background-image:url("coffee.png");
    background-size:cover;
    background-repeat:no-repeat;
    cursor:pointer;
}

.sectiontwo-text-par{
    width:90%;
    margin:0 auto;
    padding:10px;
    display:flex;
    justify-content:space-between;
}

.paragraf-united-steak{
    color:#333333;
    font-size:24px;
    font-family: 'Roboto', sans-serif;
}

.sectiontwo-text{
    width:30%;
    min-height:150px;
}

.sectiontwo-h5text{
    color:#333333;
    font-size:24px;
    padding-top:50px;
}

.footer{
    padding:40px;
    background-color:#6F1C11;
    display:flex;
    justify-content:center;
    align-items:center;
}

.footer-conteiner{
    width:90%;
    display:flex;
    justify-content:space-between;
}

.footer-contact-par{
    width:50%;
    display:flex;
    justify-content:space-between;
}

.footer-logo{
    cursor:pointer;
}

.footer-contact{
    width:25%;
    display:flex;
    flex-direction:column;
}

.footer-paragraf{
    color:#E5922D;
    font-size:18px;
    cursor:pointer;
    text-align:center;
}

.footer-h4text{
    color:#ffffff;
    font-size:16px;
    text-align:center;
    padding:17px;
}

.footer-icon-par{
    display:flex;
    justify-content:space-between;
    cursor:pointer;
    padding-top:30px;
}
.footer-icon{
    width:48px;
    height:48px;
    border-radius:50px;
    padding-top:10px;
    cursor:pointer;
    text-align:center;
    font-size:30px;
    color:#ffffff;
    background-color:#E5922D;
}